@model FerhatProje.Entities.Filmler

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Filmler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmKonusu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmKonusu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yonetmeni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yonetmeni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salon.SalonAdi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
